<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="logo">
                        <img class="m" src="../assets/agil.png" alt="logo">
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-9 text-end">
                    <div class="menu">
                        <ul>
                            <li><a href="/home">Accueil</a></li>
                            <li><a href="/admin">Admin</a></li>
                            <li><a href="/cleint">Clients</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <router-outlet></router-outlet>
</body>
</html>