<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><u>Gestion De File D'attente</u></h1>
    <img class="fat" src="../assets/fa.jpg" alt="File D'attente">
    <br>

    <div class="c">
        <div class="d1">
            <h2>Qu'est-ce que c'est ?</h2>
            <p>La gestion de file d'attente désigne les modalités de prise en charge des clients avant leur mise en relation avec un interlocuteur. 
                Cela concerne l'attente téléphonique, gérée par le service client, et l'attente en magasin, gérée par les vendeurs. 
                Il s'agit de planifier les ressources humaines, et d'utiliser des outils.</p>
        </div>

        <div class="d2">
            <h2>Définition :</h2>
            <p>La gestion de file d'attente consiste à optimiser l'expérience client en garantissant une attente minimale et une prise en charge efficace, tout en optimisant les processus opérationnels pour assurer une utilisation efficace des ressources.</p>
        </div>
    </div>
    <br>

    <h1><u>Les Produits Disponibles:</u></h1>

    <br>
    <div class="i">
        <img src="../assets/ag.jpg" alt="Product 1">
        <img src="../assets/agl.jpg" alt="Product 2">
        <img src="../assets/ra.jpg" alt="Product 3">
    </div>
    <br>
    <h1><u>Les Objectifs De La File :</u></h1>
    <ul class="l">
        <li>Obtenez des données en temps réel sur l'état de votre file d'attente</li>
        <li>Créez des tickets à la volée depuis le côté administrateur</li>
        <li>Depuis une tablette ou un distributeur de tickets, ou laissez vos clients réserver des tickets en ligne sans même se déplacer</li>
    </ul>
    <br>
    <div class="i">
        <img src="../assets/ob.jpg" alt="Objectif 1">
        <img src="../assets/obj.png" alt="Objectif 2">
    </div>
    <br>

</body>
</html>